/* 公用 css */
body{
    font-size: 12px;
    font-family: "微软雅黑"，"宋体";
}
.fl {
    float: left;
    /* display: inline; */
}
.fr {
    float: right;
    /* display: inline; */
}
.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    zoom: 1;
}
a{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
a:link, a:visited {
    cursor: pointer;
}
ul li{
    list-style: none;
}
ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
*{
    margin: 0px;
    padding: 0px;
}
/* 页面内容区 css */
.usamainbar {
    background: #FFF;
    height: auto;
    padding-top: 120px;
    *padding-top: 158px;
}
.wfull {
    min-width: 1280px;
    width: 100%;
    margin: 0 auto;
    height: auto;
}
/* 浏览目录 css */
.bbm {
    border-bottom: 1px solid #d7d7d7;
}
.breadcrumb {
    min-width: 1240px;
    width: 100%;
    height: 62px;
    line-height: 62px;
    text-align: left;
}
.breadcrumb .bcb-link {
    text-indent: 50px;
}
.breadcrumb a {
    color: #4b4b4b;
    font-size: 16px;
    display: block;
    width: auto;
}
.breadcrumb .bcb-arr {
    margin: 27px 15px 0 22px;
    display: block;
    width: 7px;
    height: 10px;
    background-position: -111px 0;
}
.ico-menu {
    background: url(https://js01.daoju.qq.com/zb/lolriotmall/pc/images/ico-menu.png) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
}
.breadcrumb .bcb-cur {
    color: #4b4b4b;
}
.breadcrumb .bcb-arr {
    margin: 27px 15px 0 22px;
    display: block;
    width: 7px;
    height: 10px;
    background-position: -111px 0;
}
/* 商品信息 css */
.mainbar {
    background: #FFF;
    height: auto;
    padding-top: 16px;
    position: relative;
}
.w1180 {
    width: 1180px;
    margin: 0 auto;
    height: auto;
}
.xiangqbar {
    width: 1180px;
    height: auto;
    padding-bottom: 26px;
}
.xiangq_big {
    width: 629px;
    height: 620px;
    position: relative;
    z-index: 3;
}   
.xiangq_big div.tab_box {
    margin-left: 90px;
    width: 460px;
    height: 460px;
    padding: 18px 0px 0px 0px;
    position: relative;
}
.product-img-box {
    position: relative;
}
.product-img-box .product-image {
    cursor: url(https://js01.daoju.qq.com/zb/lolriotmall/pc/images/detail/zoomin.png),pointer;
}
.xiangq_big div.tab_box img {
    width: 460px;
    height: 440px;
    display: block;
    margin: 0px auto;
}
.product-img-box .product-image img {
    display: block;
    width: 630px;
    height: 600px;
}
.zoom-action {
    width: 570px;
    text-align: right;
}
.zoom-xiangqimg {
    width: auto;
    font-size: 14px;
    color: #3d4145;
}
.more-views-container {
    position: absolute;
    top: 40px;
    left: 45px;
    z-index: 10;
    width: 35px;
    height: 180px;
}
.more-views {
    margin: 0 auto;
    width: 100%;
    height: 340px;
    overflow: hidden;
    position: relative;
}
.more-views ul {
    top: 0;
    position: relative;
}
.more-views ul > li {
    float: left;
    padding: 6px 0;
}
.more-views ul > li a {
    display: block;
    width: 35px;
    height: 34px;
}
.cb {
    clear: both;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
}
.xiangq_font {
    width: 550px;
    float: right;
    font-family: "微软雅黑","宋体";
    margin-right: 0px;
}
.xiangq_fonttop {
    min-height: 60px;
    height: auto;
    width: 562px;
    padding-left: 0px;
    padding-top: 14px;
}
.xiangq_font h3 {
    min-height: 42px;
    height: auto;
    padding-top: 10px;
    line-height: 42px;
    font-size: 30px;
    display: block;
    float: left;
    font-weight: 600;
}
.xiangq_fontwen {
    line-height: 18px;
    padding-bottom: 16px;
    color: #3d4145;
    font-size: 18px;
}
.xiangq_yx {
    border-bottom: 1px #efefef solid;
    border-top: 1px #efefef solid;
    height: auto;
    width: 100%;
}
.pt10 {
    padding-top: 10px;
}
.xiangq_wen {
    padding-top: 12px;
    width: 100%;
    position: relative;
}
.xiangq_wenjg {
    padding-top: 12px;
    width: 600px;
    height: 27px;
    overflow: hidden;
}
.xiangq_wen span.left {
    width: auto;
    color: #3d4145;
    text-indent: 0px;
    text-align: right;
    padding-right: 12px;
    padding-bottom: 6px;
}
.xiangq_wen span {
    float: left;
    color: #3d4145;
    display: block;
    font-size: 14px;
}
.pt7 {
    padding-top: 7px;
}
.xiangq_wen span.jiage {
    color: #303030;
    font-size: 30px;
    font-weight: bold;
    line-height: 24px;
    height: 24px;
    margin-right: 2px;
}
.pr3 {
    padding-right: 3px;
}
.fb {
    font-weight: bold;
}   
.f20 {
    font-size: 20px;
}
.xiangq_ping {
    height: 54px;
    line-height: 54px;
    border-bottom: 1px #efefef solid;
    line-height: 22px;
    color: #3d4145;
}
.mt5 {
    margin-top: 5px;
}

.xiangq_num span {
    height: 36px;
    line-height: 29px;
}
.xiangq_num .xiangq_num_act {
    width: 20px;
    height: 34px;
    border: 1px solid #dcdcdc;
    text-align: center;
    line-height: 34px;
}
.xiangq_num .xiangq_num_act a {
    text-decoration: none;
}
.buy_inp {
    height: 34px;
    line-height: 34px;
    width: 48px;
    font-size: 14px;
    text-align: center;
    border: 0px;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -1px;
    vertical-align: middle;
}
.pl5 {
    padding-left: 5px;
}
.pt5 {
    padding-top: 5px;
}
.xiangq_bz {
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.xiangq_bz li {
    float: left;
    height: 25px;
    line-height: 25px;
    width: 33.33%;
    font-size: 14px;
    color: #3d4145;
}
.xiangq_bz li span {
    margin: 4px 3px 0 0;
    display: block;
    width: 17px;
    height: 16px;
    float: left;
}
.botxian {
    border-top: 1px #efefef solid;
    height: 70px;
    border-bottom: 1px #efefef solid;
}
div.buy_nobot {
    width: 158px;
    height: 48px;
    line-height: 48px;
    color: #FFF;
    display: block;
    background: #ed3029;
    font-size: 18px;
    text-align: center;
}
.clearfloat {
    clear: both;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
    overflow: hidden;
}
.shoucz {
    background: url(https://js01.daoju.qq.com/zb/lolriotmall/pc/images/show/xihuan.jpg) -3px -3px no-repeat;
    text-indent: 20px;
    color: #666;
}
.likebox {
    position: absolute;
    top: 32px;
    right: 0;
    z-index: 1;
}
.shoucz.liked {
    background-position: -3px -25px;
    text-decoration: none;
    color: #222;
}
.xiangq_bz li span.fw1 {
    background: url(https://js01.daoju.qq.com/zb/lolriotmall/pc/images/detail/ico-detail.png) no-repeat -2px -2px;
}
.xiangq_bz li span.fw2 {
    background: url(https://js01.daoju.qq.com/zb/lolriotmall/pc/images/detail/ico-detail.png) no-repeat -2px -22px;
}
.xiangq_bz li span.fw3 {
    background: url(https://js01.daoju.qq.com/zb/lolriotmall/pc/images/detail/ico-detail.png) no-repeat -2px -42px;
}
/* tab 导航 css */
.hed_bj {
    width: 100%;
    height: 47px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}
.shownav {
    border-right: 0px solid #c8c8c8;
}
.shownav li {
    cursor: pointer;
}
.hedtop {
    line-height: 47px;
    height: 47px;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
}
.hedtop li {
    padding: 0px 40px;
    border-right: 1px solid #c8c8c8;
    float: left;
    font-size: 14px;
    color: #555;
}
.hedtop li.hedhover {
    background: #3d4145;
    padding: 0px 50px;
    font-size: 14px;
    color: #fff;
}
/* .hedhover {
    background: #3d4145;
    padding: 0px 50px;
    font-size: 14px;
    color: #ffffff;
} */
.detail-box {
    padding-top: 35px;
    border: 1px solid #d7d7d7;
        border-top-color: rgb(215, 215, 215);
        border-top-style: solid;
        border-top-width: 1px;
    border-top: none;
}
.shopxgmain {
    width: 1158px;
    padding: 16px 16px;
    height: auto;
    line-height: 26px;
    /* background-color: green; */
}
.shopxgmain img {
    margin: 0px auto;
    display: block;
}
.pingjia{
    height: 100px;
    width: 1000px;
    background-color: hotpink;
    margin: 0px auto;
}

.shouhou{
    height: 100px;
    width: 1000px;
    background-color: rgb(21, 177, 81);
    margin: 0px auto;
}
