.milo_login_dialog {
    display: block;
    width: 622px;
    height: 418px;
    margin: 0 auto;
    border: 1px solid #b1b1b1;
    /* top: 50%;
    left: 50%;
    margin-top: -209px;
    margin-left: -311px; */
    /* position: fixed; */
    z-index: 10001;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    font: 12px/1.5 hiragino sans gb,microsoft yahei,simsun;
}
.topSpace{
    height: 130px;
}
.milo_login_dialog .milo_btn_close {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 47px;
    height: 28px;
    background: url(https://vm.gtimg.cn/tencentvideo/vstyle/web/common/style/img/login/sprite_login.png?d=0210&max_age=31104000) 0 0 no-repeat;
    z-index: 10;
}
.milo_login_dialog a .milo_login_dialog a:hover {
    text-decoration: none;
}
.milo_login_dialog .milo_login_tab {
    position: relative;
    height: 50px;
    margin-bottom: -1px;
    border-bottom: 1px solid #e6e6e6;
    background: #f1f1f1;
    font-size: 0;
    z-index: 3;
}
.milo_login_dialog .milo_login_tips {
    position: relative;
    z-index: 3;
    height: 22px;
    padding: 12px 10px;
}
.milo_login_dialog .milo_login_cont {
    position: relative;
    height:321px;
    z-index: 2;
    overflow: hidden;
    background: #fff;
}
.milo_login_dialog .milo_btn_close .milo_btn_inner {
    display: none;
}
.milo_login_dialog .milo_login_tab .milo_list_item {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 50%;
    text-align: center;
}
.milo_login_dialog .milo_login_tab .milo_current .milo_tab_item_qq {
    background: #31a4f6;
}
.milo_login_dialog .milo_login_tab .milo_current .milo_tab_item {
    height: 51px;
    margin-bottom: -1px;
    color: #fff;
}
.milo_login_dialog .milo_login_tab .milo_list_item .milo_tab_item {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #b1b1b1;
}
.milo_login_dialog .milo_login_tab .milo_list_item.milo_current .ico_loginqq {
    background-position: -200px -90px;
}
.milo_login_dialog .milo_login_tab .milo_list_item .ico_loginqq {
    width: 20px;
    height: 23px;
    background-position: -180px -90px;
}

.milo_login_dialog .milo_login_tab .milo_list_item .ico_loginqq, .milo_login_dialog .milo_login_tab .milo_list_item .milo_ico_loginwx {
    display: inline-block;
    *display: inline;
    zoom: 1;
    background: url(https://vm.gtimg.cn/tencentvideo/vstyle/web/common/style/img/login/sprite_login.png?d=0210&max_age=31104000) 9999px 9999px no-repeat;
        background-position-x: 9999px;
        background-position-y: 9999px;
    vertical-align: top;
    position: relative;
    top: 12px;
    *top: 0px;
    margin-right: 8px;
}
.milo_login_dialog .milo_login_tab .milo_list_item .milo_ico_loginwx {
    width: 24px;
    height: 23px;
    background-position: -220px -90px;
}
.milo_login_dialog .milo_login_tips .milo_tips_txt {
    font-size: 14px;
    line-height: 22px;
    color: #a2a2a2;
    text-align: center;
    zoom: 1;
}
.milo_login_dialog .milo_login_iframe {
    width: 100%;
    height: 100%;
    margin: -2px 0 0 -2px;
}
.header {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    font-family: "微软雅黑";
    z-index: 1000;
}
.login .login_no_qlogin {
    margin: 0 auto;
    border: 2px solid #eee;
    position: relative;
    height: 100%;
}
.web_qr_login {
    position: relative;
    overflow: hidden;
    height: 100%;
}
.web_qr_login .web_qr_login_show {
    top: 0;
    height: 100%;
}
.title {
    font-size: 20px;
    color: #333;
    margin-bottom: 16px;
}
.link_tips {
    color: #3481cf;
}
.web_login .tips {
    font-size: 16px;
    color: #666;
    text-align: center;
}
.web_login .login_form {
    width: 272px;
    margin: 0 auto;
}
.web_login .uinArea {
    height: 55px;
    position: relative;
    z-index: 10;
}
.web_login .pwdArea {
    height: 55px;
    position: relative;
    z-index: 3;
}
.web_login .submit {
    position: relative;
    height: 40px;
    background-color: #86ce2f;
}
.web_login .inputOuter {
    width: 272px;
    height: 42px;
    background: url(https://imgcache.qq.com/ptlogin/v4/style/40/images/icon_3_tiny.png) -1px -1px no-repeat;
    _background: url(https://imgcache.qq.com/ptlogin/v4/style/40/images/icon_3_8.png) -1px -1px no-repeat;
}
.web_login .inputstyle {
    width: 258px;
    position: relative;
    top: 2px;
    left: 2px;
    height: 18px;
    padding: 10px 0 10px 10px;
    line-height: 18px;
    border: none;
    background: 0 0;
    color: #333;
    font-family: Verdana,Tahoma,Arial;
    font-size: 16px;
}
.web_login .uin_del {
    width: 21px;
    height: 21px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    background: url(https://imgcache.qq.com/ptlogin/v4/style/40/images/icon_3_tiny.png) -116px -160px no-repeat;
    _background: url(https://imgcache.qq.com/ptlogin/v4/style/40/images/icon_3_8.png) -116px -160px no-repeat;
    display: none;
}
.web_login .input_tips, .web_login .input_tips_focus {
    position: absolute;
    top: 13px;
    left: 13px;
    font-size: 14px;
    line-height: 16px;
    color: #aaa;
    cursor: text;
}
.web_login .login_from {
    width: 272px;
    margin: 0 auto;
    margin-top: 50px;
}
.web_login .inputstyle {
    width: 258px;
    position: relative;
    top: 2px;
    left: 2px;
    height: 18px;
    padding: 10px 0 10px 10px;
    line-height: 18px;
    border: none;
    background: 0 0;
    color: #333;
    font-family: Verdana,Tahoma,Arial;
    font-size: 16px;
}
.web_login .submit {
    position: relative;
    height: 40px;
    background-color: #86ce2f;
}
.web_login .login_button {
    position: absolute;
    left: 0;
    outline: 0;
    width: 100%;
}
.web_login .login_button .btn {
    width: 100%;
    height: 40px;
    line-height: 35px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;
    color: #fff;
    background: 0 0;
    cursor: pointer;
}
#bottom_web {
    height: 16px;
    margin-bottom: 8px;
    width: 626px;
    position: absolute;
    bottom: 0;
    text-align: right;
    font-size: 12px;
}
.bottom .link {
    color: #666;
}
.bottom .dotted {
    color: #bfbfbf;
    margin: 0 5px;
}